# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files

# Dependencias
/node_modules/
/bower_components/

# Archivos de Configuración
/static/config/config_db.php

# Archivos de Sistema Operativo
*.DS_Store
/.phcode.json
/error.log
/weather_data.log
/debug.log
/api_data.php
/api_data_87493479023.php
/api_data_2.php
/import_meteo_4752905479849785.php
/astro_demo.css
/astronomy.html
/barycenter.css
/barycenter.html
/riseset.html
/test.html
