# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files

# Dependencias
/node_modules/
/bower_components/

# Archivos de Configuración
/static/config/config_db.php

# Archivos de Sistema Operativo
*.DS_Store
/.phcode.json
/error.log
/weather_data.log
/debug.log
/api_data.php
/api_data_87493479023.php
/import_meteo_4752905479849785.php
/test.html
/@eaDir/
/static/@eaDir/
/static/config/@eaDir/
/static/css/@eaDir/
/static/images/@eaDir/
/static/images/hires/@eaDir/
/static/images/icons/@eaDir/
/static/js/@eaDir/
/static/js/modals/@eaDir/
/static/js/other/@eaDir/
/static/js/widgets/@eaDir/
/static/messier/
/static/modals/@eaDir/
/static/modules/modals/@eaDir/
/static/modules/widgets/@eaDir/
/static/solar_system/@eaDir/
/static/widgets/@eaDir/
/static/images/icons/moons/@eaDir/
/static/solar_system/images/@eaDir/
/static/modules/widgets/._get_astronomy_quality.php
/static/modules/widgets/cache_astronomy.json
