# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files

# Dependencias
/node_modules/
/bower_components/

# Archivos de Configuración
/static/config/config_db.php
/static/config/config.php

# Archivos de Sistema Operativo
*.DS_Store
/.phcode.json
/error.log
