dashboard-footer-view {
    background-color: var(--page-nav-bg-color);
    border-top: 1px solid var(--page-nav-border-color);
    border-bottom: 2px solid var(--page-nav-border-color);
    display: block;
}

dashboard-footer-view .max-width {
    margin: 0 auto;
    padding: 16px 16px 0 16px;
    box-sizing: border-box;
}
dashboard-footer-view .container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 0 0 0 0;
    gap: 6px;
}

dashboard-footer-view .footer-text {
    color: var(--link-color);
    font-size: 1rem;
    cursor: pointer;
}

/* Contenedor del enlace de agradecimientos */
#link-credits {
    /* Es importante que este div se convierta en el área clickable */
    color: var(--link-color);
    font-size: 1rem;
    cursor: pointer; /* Mano para indicar que es clickable */
    display: flex;
    align-items: center;
    padding: 5px 10px; /* Añade un poco de área de clic */
    border-radius: 5px;
    transition: background-color 0.2s;
}

#link-credits:hover {
    background-color: rgba(var(--wu-white-raw), 0.1); /* Ligero resaltado al pasar el ratón */
    color: var(--black-or-white); /* Asegura que el color se mantenga claro en hover */
}

/* Estilo para el icono de información/créditos */
#link-credits .info-icon {
    display: inline-block;
    width: 18px; /* Tamaño del icono */
    height: 18px;
    margin-right: 8px; /* Espacio entre el icono y el texto */
    /* Usa la variable de icono de tu images.css */
    background-image: var(--icon-copyright);
    background-size: contain;
    background-repeat: no-repeat;
}
