dashboard-footer-view {
    background-color: var(--page-nav-bg-color);
    border-top: 1px solid var(--page-nav-border-color);
    border-bottom: 2px solid var(--page-nav-border-color);
    display: block;
}

dashboard-footer-view .max-width {
    margin: 0 auto;
    padding: 16px 16px 0 16px;
    box-sizing: border-box;
}
dashboard-footer-view .container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 0 0 0 0;
    gap: 6px;
}

dashboard-footer-view .footer-text {
    color: var(--link-color);
    font-size: 1rem;
    cursor: pointer;
}

dashboard-footer-view wu-logo {
    display: block;
    background-image: var(--icon-wu-logo);
    background-repeat: no-repeat;
    background-size: 30px 20px;
    background-position: center;
    width: 30px;
    min-width: 30px;
    height: 20px;
    cursor: pointer;
    opacity: 2;
}
